body{
  background: #02012B;
}
h1{
  color: #ffff;
}
/* the squares in the background */
#design{
 
  max-width: 100%;
  margin-top: 30%;
  margin-left:75%;
}

/* Home */
#home{
  padding-left:10%;
  padding-top:30%;
  padding-bottom:15%;
  
}
.big-hd-text{
  /* position: absolute; */
  font-family: Merriweather;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  font-size: 60px;
 

  color: #FEFFD1;
}
@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Courier+Prime&family=Newsreader:wght@350&display=swap');

.small-hd-text{

  font-family: 'Newsreader', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size:25px;
 

color: #FEFFD1;
}

#song{
  font-family:  'Capriola', sans-serif;
}
#code{
  font-family: 'Courier Prime', monospace;
}
#abt-btn{

  background: #0E0C58;
  border: 1px solid #0E0C58;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);

  
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
.hm-btn{
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */


  color: #FEFFD1;
}

#rs-btn{
  /* position: absolute; */

  background: #0E0C58;
  border: 1px solid #0E0C58;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}

/* Cards */
@import '~antd/dist/antd.css';
.nav-bar{
  float: right;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;

  color: #FEFFD1;
}
.site-card-wrapper {
  padding: 50px;
}
.ant-breadcrumb-separator{
  color: #fff;
}

/*projects page*/
#group-cards{
  background:#02012B;
}

/*About*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
.about-page{
  background:#02012B;
  padding: 5%;
  
}
#about{
  font-family: Merriweather;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 45px;

color: #FEFFD1;
}

#profile{
  font-family: Raleway;
font-style: light;
font-weight: light;
font-size: 20px;
line-height: 23px;

color: #FEFFD1;

}

.abt-head{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  
  color: #FEFFD1;
}
#exp,#edu,#award,#vne{
font-family: Raleway;
font-style: light;
font-weight: light;
font-size: 15px;
line-height: 17x;

color: #FEFFD1;

}

/*project details page*/
#pro-deets{
  background:#02012B;
  color:#FEFFD1;
  margin: auto;
  width: 60%;
  padding: 10px;
  margin-top:10%;
}

#pro-title{
  text-align: center;
  font-weight: bold;
  font-family: Raleway;
  font-size: 36px;
  color:#FEFFD1;
}
#pro-desc{
  text-align: center;
  font-size:20px;
}

#pro-tools{
  color:#7ec1ff;
  margin: auto;

  font-weight: lighter;
}

.ant-layout{
  background:#02012B;

}
#btn{
  text-align: center;
  margin-top:5%;
}
 
#btn-tools{
  margin:0 auto;
  text-align: center;
}

#card{
  height: 350px;
}